:root {
    --bg-color: #ffffff;
    --text-color: #2A3335;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode {
--bg-color: #2A3335;
--text-color: #fff !important;
}


a {
    color: #000000;
    text-decoration: none;
}

#main {
    z-index: -2;
    text-align: center;
}

a:hover {

    color: #6d7189;
}



header {
    background-color: #202729;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}


.nav-links a[href="/"] {
    color: #fff; 
    text-decoration: none; 
}

.nav-links a[href="/"]:hover {
    color: #bebebe; 
    text-decoration: underline; 
}





/* Hero */
.hero {
    text-align: center;
    padding: 70px 20px;
    background-color: #0A5EB0;
    border-bottom: 5px solid #2A3335;
}
.hero h1 {
    color: #FFFFFF; 
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    color: #FFFFFF;
    font-size: 1.2em;
    margin-top: 0; 
}

.downward-arrow {
    font-size: 3em;
    color: #4e92df;
    margin-top: 20px;
    animation: bounce 1.5s infinite;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}






/* About */
.about {
    padding: 40px 20px;
    background-color: #0d1b2a;
    color: #fff; /* Text color */
    text-align: left;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-image {
    width: 17%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-text {
    flex: 1;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #4e92df;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    font-size: 18px;
}








/* Projects */
.projects {
    padding: 50px 20px;
    background: transparent;
    z-index: -1;
    background-color: var(--bg-color);
}

.project-grid {
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background: transparent;

}



.project-card {
    position: relative;
    padding: 30px 50px;
    margin: 20px;
    background: #dddddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #1f76cc, #813cff);
    filter: blur(0px);
  }




  .project-card h3 {
    position: relative;

    margin: 0;
    color: #333;
    font-size: 26px;
    font-weight: bold;
    text-align: center;

  }


.project-card h3 {
    margin-top: 0;
}


.projects h2 {
    font-size: 2em;
    margin-bottom: 10px;
}



/* Project Detail */
.project-detail {
    padding: 50px 20px;
    text-align: center;
}


/* Footer styles */
footer {
    background-color: #2A3335;
    padding: 20px;
    height: 50px;
    text-align: center;
    font-size: 0.9em;
}


.github {
    margin-top: 50px;
    border: none; 
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #b6b6b6;
    margin-bottom:60px;
    width: 80%;
}



/* Carousel */

/* .gallery {
    padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 90vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    
}


.gallery li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
    width: 50%;
    
    } */
    
    
    .gallery {
        display: flex;
        gap: 10px;
        overflow-x: auto; 
        padding: 0;
    list-style: none;
    justify-content: center;
}

.active {
    scroll-snap-type: unset;
}
.gallery li {
    width: 400px;
    height: 500px;
    flex-shrink: 0; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}









/* Calculator Container */
.calculator {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2A3335;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Calculator Display */
#calculator-display {
    width: 92%;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 2em;
    text-align: right;
    background-color: #454852;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* Calculator Buttons */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator-buttons button {
    font-size: 1.2em;
    background-color: #0A5EB0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calculator-buttons button:hover {
    background-color: #1f77d0;
}




/* Snake game*/
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

#game-canvas {
    background-color: #2A3335;
    border: 2px solid #0A5EB0;
}

#start-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0A5EB0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #3589dd;
}

#game-over-message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
    display: none;
}





/* Simple Password checker */
#password-checker-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #4e92df;
    border-radius: 10px;
    background-color: #f4f4f9;
}

#password-checker-container input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#password-strength {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Show button */
#toggle-password {
    border: none;
    background: none;
    color: #4e92df;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
    margin-top: 10px;
    position: absolute;
}

#toggle-password:hover {
    text-decoration: underline;
}






/* Traductor */

.code_request {
    background-color: #1f1f1f;
    
    margin: 30px;
    overflow-x: auto;
    white-space: pre;
    border-radius: 15px;
    font-family: monospace;
    color: #ffffff;
    font-size: 14px;
}
#code_response {
    color: orange;
}



.code_request .dark_blue {
    color: #569CD6; 
}

.code_request .blue {
    color: #47bfff;
}

.code_request .brown {
    color: #CE9178;
}

.code_request .light_yellow {
    color: #DCDCAA; 
}

.code_request .green {
    color: #4EC9B0; 
}

.code_request .light_blue {
    color: #9CDCFE;
}

.code_request .pink {
    color: #db8cff;
}

.code_request .yellow {
    color: #ffec3c;
}


